
[*]

# ReSharper properties
resharper_anonymous_method_declaration_braces = next_line
resharper_case_block_braces = next_line
resharper_empty_block_style = together_same_line
resharper_keep_blank_lines_in_code = 1
resharper_keep_blank_lines_in_declarations = 1
resharper_simple_block_style = line_break
resharper_type_declaration_braces = next_line

# ReSharper inspection severities
resharper_cpp_enforce_do_statement_braces_highlighting = error
resharper_cpp_enforce_for_statement_braces_highlighting = error
resharper_cpp_enforce_if_statement_braces_highlighting = error
resharper_cpp_enforce_while_statement_braces_highlighting = error
