[submodule "glslang"]
	path = glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "libdatachannel"]
	path = libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel
