[submodule "glslang"]
	path = submodules/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "zlib"]
	path = submodules/zlib
	url = https://github.com/madler/zlib
[submodule "libdatachannel"]
	path = submodules/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel
